[submodule "3rd/lvgl"]
	path = 3rd/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "3rd/lv_drivers"]
	path = 3rd/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "3rd/media-server"]
	path = 3rd/media-server
	url = https://github.com/ireader/media-server.git
[submodule "3rd/sdk"]
	path = 3rd/sdk
	url = https://github.com/ireader/sdk.git
[submodule "3rd/avcodec"]
	path = 3rd/avcodec
	url = https://github.com/ireader/avcodec.git
